{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>Bienvenido a Shoali</h1>
  <p>Entra en Shoali</p>
        {% if not user.is_authenticated %}
            <p><a class="btn btn-primary btn-lg" href="/accounts/login/" role="button">login</a>
            | <a class="btn btn-primary btn-lg" href="/accounts/register/" role="button">register</a></p>

        {% else %}
            <p><a class="btn btn-primary btn-lg" href="/accounts/logout/" role="button">logout</a></p>
        {% endif %}
</div>
{% endblock %}
